.cart-info {
  min-width: 288px;
  height: max-content;
  transition: transform 100ms;
  .MuiCardContent-root {
    display: flex;
    flex-direction: column;
    padding: 24px 24px 8px;
    gap: 8px;
  }
  .MuiCardActions-root {
    justify-content: center;
    padding-bottom: 16px;
  }
}
