.keyboard-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 338px;
  position: relative;
  .keyboard-image {
    cursor: pointer;
  }
  .buttons {
    margin-left: auto;
  }
  .keyboard-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .keyboard-tooltip {
    background-color: black;
  }
  .keyboard-image {
    width: 200px;
    height: 200px;
  }
}
