.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  padding: 16px 32px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  column-gap: 32px;
  .title {
    gap: 16px;
    display: flex;
    align-items: center;
    place-self: center end;
    cursor: pointer;
    .logo {
      width: 56px;
      transition: transform 200ms ease-in-out;
      position: relative;
    }
    &:hover {
      .logo {
        transform: scale(1.05) rotate(5deg);
      }
    }
  }
  .buttons {
    place-self: center start;
    display: flex;
    gap: 8px;
  }
  .breadcrumb {
    position: absolute;
    left: 8px;
    top: 90px;
  }
}
