.item-page {
  display: flex;
  justify-content: center;
  .MuiCard-root {
    max-height: 400px;
  }

  .item-card {
    height: 400px;
    display: flex;
    margin: auto;
  }

  .item-image {
    width: 400px;
  }

  .divider {
    content: '';
    height: 1px;
    border-radius: 4px;
    background-color: gray;
    margin: 8px;
  }

  .description {
    max-height: 268px;
    max-width: 400px;
    overflow: auto;
    .description-image {
      text-indent: -16px;
      margin-left: 16px;
    }
  }

  .quantity {
    color: gray;
  }

  .buttons {
    margin: auto 0 0 auto;
  }

  .content-box {
    display: flex;
    flex-direction: column;
  }
}
