* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    &-track {
      background-color: #262626;
    }
    &-thumb {
      border-radius: 4px;
      background-color: #ffffff80;
    }
  }
}

html {
  overflow: hidden;
}

.page {
  height: calc(100vh - 80px);
  padding: 32px 0;
  margin: 80px 0 0;
  overflow: auto;
}

.MuiDialog-container .MuiPaper-root {
  background-color: #222222;
  background-image: none;
  .MuiTypography-root {
    text-align: center;
  }
  .MuiDialogContent-root {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 16px;
    padding: 16px 24px;
    align-items: center;
    .MuiFormControl-root {
      width: 100%;
    }
  }
  .MuiDialogActions-root {
    align-self: center;
  }
}
